<html>
  <head>
    <title>Camera 2 Page</title>
  </head>
  <body>
    <canvas id="bg"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script type="text/javascript">
      const scene = new THREE.Scene();
      scene.background = new THREE.Color(0xfffff);

      const camera = new THREE.PerspectiveCamera(
        45,
        window.innerWidth / window.innerHeight,
        3,
        1000
      );
      console.log(camera.position)

      const renderer = new THREE.WebGL1Renderer({
        canvas: document.querySelector("#bg"),
      });

      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(window.innerWidth, window.innerHeight);
      camera.position.setZ(30);
      camera.position.setX(6.5);
      camera.position.setY(10);

      renderer.render(scene, camera);

      //Lighting
      const pointLight = new THREE.PointLight(0xfffff);
      pointLight.position.set(10, 5, 5);
      scene.add(pointLight);

      // const ambientLight = new THREE.AmbientLight(0xfffff);
      // scene.add(ambientLight)

      //Helpers

      const lightHelper = new THREE.PointLightHelper(pointLight);
      const gridHelper = new THREE.GridHelper(200, 50);
      scene.add(lightHelper, gridHelper);

      const controls = new THREE.OrbitControls(camera, renderer.domElement);

      //background

      // const spaceTexture = new THREE.TextureLoader().load("https://media.istockphoto.com/id/1292355556/photo/hotel-reception-lobby.jpg?s=612x612&w=0&k=20&c=fz0CfzVB0r2U6QoZ8KpHIOUYpLUICDTIZm1srOKK3u8=");
      // scene.background = spaceTexture;

      //avatar

      //chair 1
      // Create a base for the chair
      let baseGeometry = new THREE.BoxGeometry(4, 0.5, 4);
      let baseMaterial = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let base = new THREE.Mesh(baseGeometry, baseMaterial);
      base.position.y = 1;
      scene.add(base);

      // Create the backrest for the chair
      let backrestGeometry = new THREE.BoxGeometry(4, 2, 0.5);
      let backrestMaterial = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let backrest = new THREE.Mesh(backrestGeometry, backrestMaterial);
      backrest.position.y = 2;
      backrest.position.z = -1.75;
      scene.add(backrest);

      // Create the seat of the chair
      let seatGeometry = new THREE.BoxGeometry(4, 0.5, 3);
      let seatMaterial = new THREE.MeshBasicMaterial({ color: 0x800080 });
      let seat = new THREE.Mesh(seatGeometry, seatMaterial);
      seat.position.y = 1.5;
      scene.add(seat);

      // Create legs for the chair
      let legGeometry = new THREE.CylinderGeometry(0.25, 0.25, 1, 32);
      let legMaterial = new THREE.MeshBasicMaterial({ color: 0x808080 });

      let frontLeftLeg = new THREE.Mesh(legGeometry, legMaterial);
      frontLeftLeg.position.set(-1.5, 0.5, 1.5);
      scene.add(frontLeftLeg);

      let frontRightLeg = new THREE.Mesh(legGeometry, legMaterial);
      frontRightLeg.position.set(1.5, 0.5, 1.5);
      scene.add(frontRightLeg);

      let backLeftLeg = new THREE.Mesh(legGeometry, legMaterial);
      backLeftLeg.position.set(-1.5, 0.5, -1.5);
      scene.add(backLeftLeg);

      let backRightLeg = new THREE.Mesh(legGeometry, legMaterial);
      backRightLeg.position.set(1.5, 0.5, -1.5);
      scene.add(backRightLeg);

      //chair 2
      // Create a base for the chair
      let baseGeometry2 = new THREE.BoxGeometry(4, 0.5, 4);
      let baseMaterial2 = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let base2 = new THREE.Mesh(baseGeometry2, baseMaterial2);
      base2.position.x = 7; // Move the base to the right
      base2.position.y = 1;
      scene.add(base2);

      // Create the backrest for the chair
      let backrestGeometry2 = new THREE.BoxGeometry(4, 2, 0.5);
      let backrestMaterial2 = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let backrest2 = new THREE.Mesh(backrestGeometry2, backrestMaterial2);
      backrest2.position.x = 7; // Move the backrest to the right
      backrest2.position.y = 2;
      backrest2.position.z = -1.75;
      scene.add(backrest2);

      // Create the seat of the chair
      let seatGeometry2 = new THREE.BoxGeometry(4, 0.5, 3);
      let seatMaterial2 = new THREE.MeshBasicMaterial({ color: 0x800080 });
      let seat2 = new THREE.Mesh(seatGeometry2, seatMaterial2);
      seat2.position.x = 7; // Move the seat to the right
      seat2.position.y = 1.5;
      scene.add(seat2);

      // Create legs for the chair
      let legGeometry2 = new THREE.CylinderGeometry(0.25, 0.25, 1, 32);
      let legMaterial2 = new THREE.MeshBasicMaterial({ color: 0x808080 });

      let frontLeftLeg2 = new THREE.Mesh(legGeometry2, legMaterial2);
      frontLeftLeg2.position.set(5.5, 0.5, 1.5); // Move the front left leg to the right
      scene.add(frontLeftLeg2);

      let frontRightLeg2 = new THREE.Mesh(legGeometry2, legMaterial2);
      frontRightLeg2.position.set(8.5, 0.5, 1.5); // Move the front right leg to the right
      scene.add(frontRightLeg2);

      let backLeftLeg2 = new THREE.Mesh(legGeometry2, legMaterial2);
      backLeftLeg2.position.set(5.5, 0.5, -1.5); // Move the back left leg to the right
      scene.add(backLeftLeg2);

      let backRightLeg2 = new THREE.Mesh(legGeometry2, legMaterial2);
      backRightLeg2.position.set(8.5, 0.5, -1.5); // Move the back right leg to the right
      scene.add(backRightLeg2);

      //chair 3
      // Create a base for the chair
      let baseGeometry3 = new THREE.BoxGeometry(4, 0.5, 4);
      let baseMaterial3 = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let base3 = new THREE.Mesh(baseGeometry2, baseMaterial2);
      base3.position.x = -8;
      base3.position.y = 1;
      scene.add(base3);

      // Create the backrest for the chair
      let backrestGeometry3 = new THREE.BoxGeometry(4, 2, 0.5);
      let backrestMaterial3 = new THREE.MeshBasicMaterial({ color: 0x808080 });
      let backrest3 = new THREE.Mesh(backrestGeometry3, backrestMaterial2);
      backrest3.position.y = 2;
      backrest3.position.z = -1.75;
      backrest3.position.x = -8;
      scene.add(backrest3);

      // Create the seat of the chair
      let seatGeometry3 = new THREE.BoxGeometry(4, 0.5, 3);
      let seatMaterial3 = new THREE.MeshBasicMaterial({ color: 0x800080 });
      let seat3 = new THREE.Mesh(seatGeometry3, seatMaterial3);
      seat3.position.y = 1.5;
      seat3.position.x = -8;
      scene.add(seat3);

      // Create legs for the chair
      let legGeometry3 = new THREE.CylinderGeometry(0.25, 0.25, 1, 32);
      let legMaterial3 = new THREE.MeshBasicMaterial({ color: 0x808080 });

      let frontLeftLeg3 = new THREE.Mesh(legGeometry3, legMaterial3);
      frontLeftLeg3.position.set(-6.5, 0.5, 1.5);
      scene.add(frontLeftLeg3);

      let frontRightLeg3 = new THREE.Mesh(legGeometry3, legMaterial3);
      frontRightLeg3.position.set(-9.5, 0.5, 1.5);
      scene.add(frontRightLeg3);

      let backLeftLeg3 = new THREE.Mesh(legGeometry3, legMaterial3);
      backLeftLeg3.position.set(-6.5, 0.5, -1.5);
      scene.add(backLeftLeg3);

      let backRightLeg3 = new THREE.Mesh(legGeometry3, legMaterial3);
      backRightLeg3.position.set(-9.5, 0.5, -1.5);
      scene.add(backRightLeg3);

      // Create a back wall for the room
      let backWallGeometry = new THREE.BoxGeometry(window.innerWidth, 8, 0.2);
      let backWallMaterial = new THREE.MeshBasicMaterial({ color: 0xffa500 });
      let backWall = new THREE.Mesh(backWallGeometry, backWallMaterial);
      backWall.position.z = -5;
      backWall.position.y = 4;
      scene.add(backWall);

      // Create a floor that intersects with the back wall
      let floorGeometry = new THREE.PlaneGeometry(window.innerWidth, 40);
      let floorMaterial = new THREE.MeshBasicMaterial({ color: 0xffffff });
      let floor = new THREE.Mesh(floorGeometry, floorMaterial);
      floor.rotation.x = -Math.PI / 2;
      floor.position.y = -0.25;
      floor.position.z = -5;
      scene.add(floor);

      // Create a coffee table
      let coffeeTableGeometry = new THREE.BoxGeometry(10, 0.5, 3);
      let coffeeTableMaterial = new THREE.MeshBasicMaterial({
        color: 0x7f5539,
      });
      let coffeeTable = new THREE.Mesh(
        coffeeTableGeometry,
        coffeeTableMaterial
      );
      coffeeTable.position.set(0, .75, 6.5); // Position the table in front of the chairs
      scene.add(coffeeTable);

      //create coffee table legs
      let coffeeLegGeometry = new THREE.BoxGeometry(1, 1, 1);
      let coffeeLegMaterial = new THREE.MeshBasicMaterial({ color: 0x7f5539 });

      let coffeeLeftLeg = new THREE.Mesh(coffeeLegGeometry, coffeeLegMaterial);
      coffeeLeftLeg.position.set(4, .25, 6.5);
      scene.add(coffeeLeftLeg);

      let coffeeRightLeg = new THREE.Mesh(coffeeLegGeometry, coffeeLegMaterial);
      coffeeRightLeg.position.set(-4, .25, 6.5);
      scene.add(coffeeRightLeg);

      //animation loop

      function animate() {
        requestAnimationFrame(animate);
        controls.update();
        renderer.render(scene, camera);
      }

      animate();
    </script>
  </body>
</html>
