<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Login - CMS</title>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <h3>Dashboard</h3>
        <div class="container text-left">
          <div class="row">
            <div class="col">
              <form method="get" action="/camera1">
                <!-- <label for="logout" style = "font-family: sans-serif; font-weight: 300; line-height: 2.5;color:#f9fafbf3; text-align: right;"><b></b></label> -->
                <button type="submit" style="background-color:green; font-family:sans-serif; color:#f9fafbf3; text-align: right" >Live Feed To Lobby A</button>
              </form>
            </div>
            <div class="col">
              <form method="get" action="/camera2">
                <!-- <label for="logout" style = "font-family: sans-serif; font-weight: 300; line-height: 2.5;color:#f9fafbf3; text-align: right;"><b></b></label> -->
                <button type="submit" style="background-color:green; font-family:sans-serif; color:#f9fafbf3; text-align: right" >Live Feed To Lobby B</button>
              </form>
            </div>
            <div class="col">
              <form method="get" action="/pastfeed">
                <!-- <label for="logout" style = "font-family: sans-serif; font-weight: 300; line-height: 2.5;color:#f9fafbf3; text-align: right;"><b></b></label> -->
                <button type="submit" style="background-color:green; font-family:sans-serif; color:#f9fafbf3; text-align: right" >Past Footage</button>
              </form>
            </div>
          </div>
        </div>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </body>
</html>